@using CarInsuranceQuote.Models
@model List<Quote>

@{
    ViewData["Title"] = "Admin";
}

<h2>Admin View: List of Quotes</h2>
<br />


@foreach (var user in Model)
{
    <div class="row">
        <div class="col">
            @user.FirstName
        </div>
        <div class="col">
            @user.LastName
        </div>
        <div class="col">
            @user.Email
        </div>
        <div class="col">
            $@user.QuotePrice
        </div>
    </div>


}